* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 700;
}

window#waybar {
    background: #282c34;
    color: #fcfcfc;
}

#tags button {
    padding: 0 5px;
    background: #282c34;
    color: #5c6667;
}

#tags button.occupied {
    background: #282c34;
    color: #fcfcfc;
}

#tags button.focused {
    background: #5c6667;
    color: #fcfcfc;
}

#mode {
    padding: 0 5px;
    background: #5c6667;
    color: #fcfcfc;
}
